.content-container {
    @apply px-2;                                /* padding start and end */
    @apply h-screen;
    @apply md:ml-[25%];                         /* ipad aside section width */
    @apply lg:ml-[33%];                         /* imac aside section width */
    @apply md:ps-0 md:pe-4;                     /* ipad padding start and end */
    @apply lg:ps-0 lg:pe-8;                     /* imac padding start and end */
    @apply w-full md:w-[75%] lg:w-[66%];        /* width of content section */
    @apply overflow-x-hidden overflow-y-auto;
}

.content-section {
    @apply flex flex-col;
    @apply min-h-full min-w-full;
    @apply items-start justify-start;
    @apply pt-8 md:pt-16 lg:pt-32  pb-0;        /* padding */
}

.content-section.loaded {
    transform: translateY(0);
}

@media (min-width: 768px) {
    .animate-scroll {
        animation: scrollToTop 0.36s ease-out forwards;
    }
}

  
@keyframes scrollToTop {
    0% {
        transform: translateY(100vh);
    }
    100% {
        transform: translateY(0);
    }
}
