.content {
    @apply w-full h-fit;
    @apply flex flex-col;
    @apply items-center justify-center;
    @apply overflow-x-hidden overflow-y-auto;
}

.content-container {
    @apply px-4;                                /* padding start and end */
    @apply h-screen;
    @apply md:ml-[25%];                         /* ipad aside section width */
    @apply lg:ml-[33%];                         /* imac aside section width */
    @apply md:ps-0 md:pe-4;                     /* ipad padding start and end */
    @apply lg:ps-0 lg:pe-8;                     /* imac padding start and end */
    @apply w-full md:w-[75%] lg:w-[66%];        /* width of content section */
    @apply overflow-x-clip;
}

.intro-logo {
    @apply py-8;
    @apply w-full;
    @apply text-4xl;
    @apply flex flex-col;
    @apply md:hidden lg:hidden;
    @apply items-center justify-center;
}

@keyframes fadeInTranslate {
    0% {
        opacity: 0;
        transform: translateY(16px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.intro-logo {
    animation: fadeInTranslate 0.7s ease-out forwards;
}

.content-section {
    @apply min-w-full;
    @apply flex flex-col;
    @apply min-h-fit md:min-h-full;
    @apply items-start justify-start;
    @apply pt-8 md:pt-16 lg:pt-28 pb-0;        /* padding */
}

.content-section .loaded {
    transform: translateY(0);
    opacity: 1;
}

.animate-scroll {
    animation: scrollToTop 1000ms ease-out forwards;
}

@keyframes scrollToTop {
    from {
        transform: translateY(80px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
    }
}
