h1 {
    display: inline-block;
}

h1 .letter {
    display: inline-block;
    opacity: 0;
}

h1 .first-letter {
    display: inline-block;
    opacity: 1;
}

h1:hover .letter {
    animation: fade-in-opacity 0.3s ease-in-out forwards;
}

@media (max-width: 768px) {
    h1 .letter {
        animation: fade-in-opacity 0.3s ease-in-out forwards;
    }
}

@keyframes fade-in-opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.logo-section {
    @apply w-full;
    @apply basis-[1/12];
}

.logo {
    @apply py-8;
    @apply text-2xl;
}
