.center-align {
    @apply flex flex-row justify-center;
}

.hero-section {
    margin: 0 0;
    padding: calc(0.025 * 100vw) 0;
    box-sizing: border-box;
}

.dynamic-menu {
    @apply flex flex-col md:flex-row justify-center;
}

.burger-menu {
    @apply md:flex flex-col justify-end;
}

.burger-menu-icon {
    @apply text-center text-2xl md:hidden;
}

.default-styles {
    @apply font-Roboto font-normal bg-lightPrimary dark:bg-darkPrimary text-darkPrimary dark:text-lightPrimary;
}

.name {
    @apply text-3xl text-lightTertiary dark:text-darkTertiary font-bold;
}

.navigation-section {
    @apply flex-[2] px-2 md:flex-col md:text-right md:text-xl md:ps-4 md:pe-12;
}

.home-section {
    @apply flex-[3] md:flex-col text-left text-base px-4;
}

.nav-section {
    @apply container flex flex-col justify-items-center text-center md:text-right my-2 md:my-8;
}

.social-icons {
    @apply container flex flex-row justify-center md:justify-end;
}

.vertical-list {
    @apply container flex flex-col justify-end;
}
